body {
      background-color: #0e0e0e;
}

.topLink {
  color: #9ba3b4;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  font-size: 16px;
  align-items: stretch;
}

.topLink:hover {
  color: white;
}

a{
    color: #4daafc
}